<div *ngIf="serie" class="movie-details-container">
  <div class="movie-poster-container">
    <img [src]="'https://image.tmdb.org/t/p/w500' + serie.poster_path" alt="{{serie.name}}" class="movie-poster">
  </div>
  <div class="movie-info">
    <h1>{{ serie.name }}</h1>
    <p class="movie-overview">{{serie.overview }}</p>
    <p class="movie-overview">Nota: {{serie.vote_average}}</p>
    <p class="movie-overview">Año: {{serie.first_air_date | date:'yyyy'}}</p>
    <p class="movie-overview">Número de temporadas: {{serie.number_of_seasons}}</p>
    <p class="movie-overview">Número de episodios: {{serie.number_of_episodes}}</p>
    <a [href]="serie.homepage" target="_blank" class="movie-link">Visitar página web de la serie</a>
  </div>
</div>