/* movie-details.component.css */
.movie-details-container {
  max-width: 1200px; /* Ajustado para acomodar imagen grande */
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-wrap: wrap; /* Permite que los elementos se ajusten según el tamaño de la pantalla */
}

.movie-header {
  flex: 1 1 100%; /* Ocupa el ancho completo en pantallas pequeñas */
  display: flex;
  flex-direction: column; /* Cambia la dirección para acomodar mejor la imagen grande */
  align-items: center; /* Centra el contenido */
  text-align: center; /* Alinea el texto al centro */
  margin-bottom: 20px;
}

.movie-poster {
  width: 500px; /* Tamaño especificado */
  height: auto;
  margin: 20px 0; /* Ajusta el margen para separar de los textos */
  border-radius: 8px;
}

.movie-info {
  font-size: 16px;
  line-height: 1.5;
  flex: 1; /* Permite que el texto ocupe el espacio restante */
  padding: 0 20px; /* Añade un poco de padding para no pegarse a los bordes */
}

.movie-overview {
  margin-bottom: 20px;
}

/* movie-details.component.css */
.movie-link {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  color: #fff; /* Color del texto */
  background: linear-gradient(to right, #007bff, #0056b3); /* Gradiente */
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.movie-link:hover {
  background: linear-gradient(
    to right,
    #0056b3,
    #007bff
  ); /* Cambio de gradiente en hover */
}
