.home-container {
  text-align: center;
}

.explore-text {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.series-text {
  font-size: 1.1em;
  margin-bottom: 20px;
}

h1 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
